<div class="row">
  <div class="sidebar col-xs-4 col-md-4 col-lg-4">
    <h2>Top Movies</h2>
    <% @movies.each do |movie| %>
    <div><%= link_to movie.name, movie_path(movie.id) %>Ranked:<%= movie.rank %></div>
    <% end %>
    <div>
      <%= link_to "View More Movies", movies_path %>
    </div>
  </div>
  <div class="main col-xs-4 col-md-4 col-lg-4">
    <h2>Top Books</h2>
    <% @books.each do |book| %>
    <div><%= link_to book.name, book_path(book.id) %>Ranked: <%= book.rank %></div>
    <% end %>
    <div>
      <%= link_to "View More Books", books_path %>
    </div>
  </div>
  <div class="main col-xs-4 col-md-4 col-lg-4">
    <h2>Top Albums</h2>
    <% @albums.each do |album| %>
    <div><%= link_to album.name, album_path(album.id) %>Ranked: <%= album.rank %></div>
    <% end %>
    <div>
      <%= link_to "View More Albums", albums_path %>
    </div>
  </div>
</div>
